* {
  font-family: cursive;
}
.header {
  text-align: left;
  margin: 150px 500px 0px;
  padding: 3px 35px;
  /* padding-left: 35px; */

  font-size: 40px;
  border: 2px solid rgba(225, 0, 255, 0.301);
  border-radius: 30px;
}
.base {
  margin: 50px 500px 0px;
  padding: 40px;
  border: 2px solid rgba(225, 0, 255, 0.301);
  border-radius: 30px;
}
.btn.btn-secondary.dropdown-toggle {
  background-color: rgba(43, 0, 65, 0.945);
  border-color: rgba(43, 0, 65, 0.945);
}
.form-check-input.me-1:checked {
  background-color: darkviolet;
  border-color: darkviolet;
}
.my-input {
  border: none !important;
}
.my-input:focus {
  outline: none;
}
